.btn{
  position: absolute;
  bottom: 16px;         /* מרחק קבוע מתחתית האב */
  left: 50%;            /* מרכז אופקית */
  transform: translateX(-50%);

  background: var(--brand);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: background .2s;
}
.btn:hover{
  background: var(--brand-hover);
}
